<ul class="gallery">
  <li>
      <img src="/assets/images/herbarium/{{include.plant}}_1.webp" alt="{{include.first}}" width="100%" style="border: 1px solid black;" />
      <span style="color: var(--disabledColor); font-size: 0.85em;">{{include.first}}</span>
  </li>
  <li>
      <img src="/assets/images/herbarium/{{include.plant}}_2.webp" alt="{{include.second}}" width="100%" style="border: 1px solid black;" />
      <span style="color: var(--disabledColor); font-size: 0.85em;">{{include.second}}</span>
  </li>
  <li>
      <img src="/assets/images/herbarium/{{include.plant}}_3.webp" alt="{{include.third}}" width="100%" style="border: 1px solid black;" />
      <span style="color: var(--disabledColor); font-size: 0.85em;">{{include.third}}</span>
  </li>
</ul>
