<link href='/assets/modules/maplibre-gl.css' rel='stylesheet' />

<script src='/assets/modules/maplibre-gl.js'></script>
<script src="/assets/modules/chart.umd.min.js"></script>

<style>

	#map  {
		display: block;
		background: #000;
		height: 80vh;
		width: 80vw;
	}
	
	#chart-container {
		height: 150px;
		width: 80vw;
		z-index: 10;
		background-color: rgba(255, 255, 255, 0.9);
		text-align: center;
	}
		
	#chart-inner-container {
		position: relative;
		margin: auto;
		height: 100%;
		width: 100%;
	}

</style>

<p>{{include.gpx}}</p>

<span id="total_ascend">↗ -.</span>
<span id="total_descend">↘ -.</span>

<div id="chart-container">
	<div id="chart-inner-container">
		<canvas id="chart-canvas"></canvas>
	</div>
</div>

<div id="map"></div>

<script type="module">
	function coordinatesDistance(lat1, lon1, lat2, lon2) {
		// https://www.movable-type.co.uk/scripts/latlong.html
		const φ1 = lat1 * Math.PI/180, φ2 = lat2 * Math.PI/180, Δλ = (lon2-lon1) * Math.PI/180, R = 6371e3;
		const d = Math.acos( Math.sin(φ1)*Math.sin(φ2) + Math.cos(φ1)*Math.cos(φ2) * Math.cos(Δλ) ) * R;
		return d;
	}

	import { gpx } from "/assets/modules/togeojson.js";

	// NZ Position
	const startPos = [173, -40.5];
	const startZoom = 4;
	
	// vector layers
	const style = '/assets/data/topographic.json'
	// 'https://basemaps.linz.govt.nz/v1/tiles/topographic/WebMercatorQuad/style/topographic.json?api=d01hep5551e30kxb7w85hck49tp';
	
	var map = new maplibregl.Map({
		container: 'map', // container id
		style: style, // style URL
		center: startPos, // starting position [lng, lat]
		zoom: startZoom, // starting zoom
	});
	
	const elevation_chart = new Chart(document.getElementById('chart-canvas'), {
			type: 'line',
			data: {
				labels: [],
				datasets: []
			},
			options: {
				plugins: {
					legend: {
						display: false
					},
					title: {
						display:true,
						align: 'start',
						text: 'Elevation (m)'
					}
				},
				maintainAspectRatio: false,
				responsive: true,
				elements: {
					point: {
						radius: 0
					}
				}
			}
		});
	
	map.on('load', async () => {
		fetch("{{page.gpx_path}}")
			.then(function(response) {
				return response.text();
			})
			.then(function(xml) {
				const geojson = gpx(new DOMParser().parseFromString(xml, "text/xml"));
				console.log(geojson)
				
				map.addSource('route', {
					'type': 'geojson',
					'data': geojson
				});
				
				// Draw the route lines
				map.addLayer({
					'id': 'route-line',
					'type': 'line',
					'source': 'route',
					'layout': {
						'line-join': 'round',
						'line-cap': 'round'
					},
					'paint': {
						'line-color': ['coalesce', ['get', 'gpxx_DisplayColor'], 'red'],
						'line-width': 5,
						'line-opacity': 0.75
					},
					'filter': ['==', '$type', 'LineString']
				});
				
				// Draw the route points
				map.addLayer({
					'id': 'route-points',
					'type': 'circle',
					'source': 'route',
					'paint': {
						'circle-radius': 6,
						'circle-color': ["concat", "#", ['coalesce', ['get', 'mapout_color'], 'F00']],
						'circle-opacity': 1,
						'circle-stroke-width': 2,
						'circle-stroke-color': "#FFF"
					},
					'filter': ['==', '$type', 'Point']
				});
				
				// Draw the route labels
				map.addLayer({
					'id': 'route-points-labels',
					'type': 'symbol',
					'source': 'route',
					'layout': {
						'text-field': ['get', 'name'],
						'text-font': ['Noto Sans Bold'],
						'text-size': 13,
						'text-offset': [0, 1],
						'text-anchor': 'top',
            			'text-justify': 'auto'
					},
					'paint': {
						'text-color': ["concat", "#", ['coalesce', ['get', 'mapout_color'], 'F00']],
						'text-halo-color': '#FFF',
						'text-halo-width': 2
					},	
					'filter': ['==', '$type', 'Point']
				});

				// Fit the map to the first line bounds
				// Geographic coordinates of the LineString
				// Create a 'LngLatBounds' with both corners at the first coordinate.
				// Extend the 'LngLatBounds' to include every coordinate in the bounds result.
				const coordinates = geojson.features[0].geometry.coordinates;
				const bounds = new maplibregl.LngLatBounds(coordinates[0], coordinates[0]);
				for (const coord of coordinates) {
					bounds.extend(coord);
				}
				map.fitBounds(bounds, {
					padding: 20
				});
				
				// Draw elevation chart
				// get the elevation for the leading coordinate of each segment
				let elevations_full = [];
				let elevation_ascend = 0;
				let elevation_descend = 0;
				let labels_full =['0 km'];
				let total_distance = 0;
				let prevLat = null; 
				let prevLon = null;
				let prevElev = null;
				geojson.features[0].geometry.coordinates.forEach((element) => {
					
					elevations_full.push(element[2]);
					
					if (prevElev) {
						if (element[2] > prevElev) {
							elevation_ascend += element[2]-prevElev;
						} else {
							elevation_descend += prevElev-element[2];
						}
					}
					
					if (prevLat && prevLon) {
						total_distance += coordinatesDistance(prevLat, prevLon, element[0], element[1]);
						labels_full.push(Math.floor(total_distance/100)/10 + ' km');
					} 
					
					prevLat = element[0];
					prevLon = element[1];
					prevElev = element[2];
					
				});
				
				const marker_start = new maplibregl.Marker({color: "#13db3e"})
					.setLngLat([
						geojson.features[0].geometry.coordinates[0][0], 
						geojson.features[0].geometry.coordinates[0][1]
					]).addTo(map);
				const marker_end = new maplibregl.Marker({color: "#ff4944"})
					.setLngLat([
						geojson.features[0].geometry.coordinates.at(-1)[0], 
						geojson.features[0].geometry.coordinates.at(-1)[1]
					]).addTo(map);
				
				document.getElementById('total_ascend').innerHTML = '↗ ' + elevation_ascend+ ' meters.';
				document.getElementById('total_descend').innerHTML = '↘ ' + elevation_descend+ ' meters.';
				
				// Shrink down the elevations, to make the graph smoother
				let elevations = [];
				let labels = [];
				for (let i = 0; i < elevations_full.length; i+=10) {
					elevations.push(elevations_full[i]);
					labels.push(labels_full[i]);
				}
				
				// add dummy labels
				elevation_chart.data.labels = labels;
				elevation_chart.data.datasets[0] = {
					data: elevations,
					fill: true,
					tension: 0.4
				};
				elevation_chart.update();

				
			});
	});
	
	 // Make the lines clickable for showing the elevation profile
    map.on('click', 'route-line', (e) => {
		// Show the elevation profile of the selected line
    });

    // Change the cursor to a pointer when the it enters a feature in the 'symbols' layer.
    map.on('mouseenter', 'route-line', () => {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'route-line', () => {
        map.getCanvas().style.cursor = '';
    });
	
</script>