<link href='/assets/modules/maplibre-gl.css' rel='stylesheet' />

<script src='/assets/modules/maplibre-gl.js'></script>
<script src="/assets/modules/chart.umd.min.js"></script>

<style>

	#map  {
		display: block;
		background: #000;
		height: 80vh;
		width: 80vw;
	}

</style>

<p>{{include.gpx}}</p>

<div id="map"></div>

<script type="module">
	import { gpx } from "/assets/modules/togeojson.js";

	// NZ Position
	const startPos = [173, -40.5];
	const startZoom = 4;
	
	// vector layers
	const style = '/assets/data/topographic.json'
	// 'https://basemaps.linz.govt.nz/v1/tiles/topographic/WebMercatorQuad/style/topographic.json?api=d01hep5551e30kxb7w85hck49tp';
	
	var map = new maplibregl.Map({
		container: 'map', // container id
		style: style, // style URL
		center: startPos, // starting position [lng, lat]
		zoom: startZoom, // starting zoom
	});
	
	map.on('load', async () => {
		fetch("{{page.gpx_path}}")
			.then(function(response) {
				return response.text();
			})
			.then(function(xml) {
				const geoJSONcontent = gpx(new DOMParser().parseFromString(xml, "text/xml"));
				console.log(geoJSONcontent)
			});
	});
	
</script>