@font-face {
  font-family: MPLUS1;
  font-style: normal;
  font-weight: 100 900;
  src: url("/assets/fonts/MPLUS1.woff2") format("woff2");
}

@font-face {
  font-family: MPLUSCode;
  font-style: normal;
  font-weight: 100 900;
  src: url("/assets/fonts/MPLUSCodeLatin.woff2") format("woff2");
}

:root {
    font-family: MPLUS1, sans-serif;
	--numcolumns: 1; // Mobile first
}

body {
    background-color: var(--backgroundColor);
	color: var(--inkColor);
	font-size: 0.95em;
	padding: 2em; 
	min-width: 0;
	max-width: 60em;
	margin: auto;
}

h1, h2, h3, h4 {
	color: var(--titleColor);
}

h1 {
	font-weight: 1000;
}

h2, h3, h4 {
	font-weight: 800;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 1.15em;
	font-weight: 500;
	margin-bottom: 0.5em;
}

a {
	color: var(--linkColor);
	text-decoration: none;
}

a:hover {
	color: var(--linkColorHover) !important;
}

a:visited {
	color: var(--linkColorVisited);
}

ul.gallery {
	display: grid;
	grid-template-columns: repeat(var(--numcolumns), 1fr);
	gap: 1em;
	align-items: stretch;
	
	list-style: none;
	padding: 0;
}

.breadcrumbs {
	font-size: 1.05em;
	font-weight: 350;
}

.full-width {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.column2 {
	display: grid;
	grid-template-columns: repeat(var(--numcolumns), 1fr);
	gap: 1em;
}

.thumbnail {
	width: 100%;
	aspect-ratio: 1 / 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	border: 1px solid black;
	position: relative;
	/* border-radius: 3px; */
	/* overflow: hidden; */
}

.thumbnail:hover{
	box-sizing: border-box;
	border: 2px solid var(--linkColorHover);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.thumbnail::before {
    content: ""; 
	background: 
		linear-gradient(
			to bottom,
			hsla(0, 0%, 0%, 0) 0%,
			hsla(0, 0%, 0%, 0.013) 8.1%,
			hsla(0, 0%, 0%, 0.049) 15.5%,
			hsla(0, 0%, 0%, 0.104) 22.5%,
			hsla(0, 0%, 0%, 0.175) 29%,
			hsla(0, 0%, 0%, 0.259) 35.3%,
			hsla(0, 0%, 0%, 0.352) 41.2%,
			hsla(0, 0%, 0%, 0.45) 47.1%,
			hsla(0, 0%, 0%, 0.55) 52.9%,
			hsla(0, 0%, 0%, 0.648) 58.8%,
			hsla(0, 0%, 0%, 0.741) 64.7%,
			hsla(0, 0%, 0%, 0.825) 71%,
			hsla(0, 0%, 0%, 0.896) 77.5%,
			hsla(0, 0%, 0%, 0.951) 84.5%,
			hsla(0, 0%, 0%, 0.987) 91.9%,
			hsl(0, 0%, 0%) 100%
		);
    position: absolute;
	opacity: 0.25;
	align-self: flex-end;
    height: 30%; 
	width: 100%;
	z-index: 1;
}

.thumbnail p {
	position: absolute;
	font-size: 0.9em;
	width: 80%;
	align-self: flex-end;
	color: white;
	text-shadow: 0px 0px 5px black;
	font-weight: bold;
	padding: 10px;
	margin: 0;
	z-index: 2;
}

.metadata {
    font-family: MPLUSCode, monospace;
    font-variation-settings: "wdth" 150;
	font-size: 0.85em;
		
	border-width: 0.35em; 
	border-style: ridge;
	background-color: #eee;
	
	p {	
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

.img-details {
	max-width: 100%; 
	height: auto;
}

.navigation {
    float: left;
    margin-top: 1em;
}

.navigation + h1 {
	margin-top: 2em;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: var(--disabledColor) !important;
}

.icon {
	width: 2em;
	height: 2em;
	display: inline-block;
    vertical-align: middle;
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	margin: 0.5em;
}

.button {
	float: right;
	padding: 0.5em;
	font-weight: 700;
	border-style: outset;
	border-width: 4px;
	background-color: #ddd;
	color: black;
	z-index: 10;
}
.button:hover {
	border-style: inset;
	color: black !important;
}

.explore {
	cursor: url('/assets/icons/binoculars_cursor.png'), auto;
}

.section {
	display: flex;
	border: 2px solid black;
	width: 100%;
	height: 6em;
}

.section:hover{
	border: 2px solid var(--linkColorHover);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.section span {
	padding: 0.4em;
	align-self: flex-end;
	color: whitesmoke;
	font-weight: 800;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* DESKTOP OVERRIDES */
@media all and (min-width: 800px) { 
	ul.gallery {
		--numcolumns: 3 !important;
	}
	.img-details {
		min-width: 600px; 
	}
	.navigation {
        position: relative;
		text-align: right;
        float: right;
    }
	.info-strip {
		margin-right: 1em;
        position: relative;
        float: left;
	}
}

@media all and (min-width: 60em) { 
	.column2 {
		--numcolumns: 2 !important;
	}
}