<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/theme/{{page.theme}}.css">
    <script src="/assets/javascript/main.js"></script>
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.content | truncate: 120}}">
    <meta property="og:image" content="{% if page.File %}{{site.url}}/assets/photos/thumbs/{{page.File | split: "." | first }}-thumb.webp{%endif%}">
    <meta property="og:url" content="{{site.url}}{{page.url}}">
  </head>
  <body>
    {{ content }}
  </body>
  <script>
    document.addEventListener("keydown", ({key}) => {
        switch (key) {
            case 'ArrowRight':
            document.getElementById("navNext").click();
            break;
            case 'ArrowLeft':
            document.getElementById("navPrev").click();
            break;
        }
    });
</script>
</html>
