<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/javascript/main.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
  <script>
    document.addEventListener("keydown", ({key}) => {
        switch (key) {
            case 'ArrowRight':
            document.getElementById("navNext").click();
            break;
            case 'ArrowLeft':
            document.getElementById("navPrev").click();
            break;
        }
    });
</script>
</html>
