---
layout: default
---

<div class="navigation">
	<a id="navPrev" class="{% unless page.previous %}disabled{% endunless %}" href="{{page.previous.url}}">Previous</a>
    · 
	<a id="navNext" class="{% unless page.next %}disabled{% endunless %}" href="{{page.next.url}}">Next</a>
</div>

<h1>{{page.title}}</h1>

{{ content }}

{% assign photos =  site.photos %}
{% assign walks =  site.static_files | where: "type", "walk" %}

{% capture post_time %}{{page.date | date: '%s'}}{% endcapture %}
{% capture next_time %}{{page.next.date | date: '%s'}}{% endcapture %}
{% capture prev_time %}{{page.previous.date | date: '%s'}}{% endcapture %}


{% capture gpx_path %}/assets/tracks/logbook/{{page.gpx_filename}}{% endcapture %}

<a href="/tracks/{{page.title}}">
	<div style="width: 100%; height:30em;">
		{% include track_map.html gpx=gpx_path interactive=false waypoints=false %}
	</div>
</a>

<br>

<h2>Photos</h2>

<ul class="gallery">
	{% for photo in photos %}
	{%- assign date_digits = photo.File | split: "_" | first %}
	{%- assign day   = date_digits | slice: 6, 2 %}
	{%- assign month = date_digits | slice: 4, 2 %}
	{%- assign year  = date_digits | slice: 0, 4 %}
	{%- capture date_string %}{{ year }}-{{ month }}-{{ day }} 00:00:00 +1300 {%- endcapture %}
	
	{% capture photo_time %}{{date_string | date: '%s'}}{% endcapture %}
	{% if photo_time >= post_time %}
	{% if photo_time < next_time or next_time == ""  %}
	<li>
		<a href="{{photo.url}}">
			<div class="thumbnail" style="background-image: url('{{site.url}}/assets/photos/thumbs/{{photo.File | split: "." | first %}}-thumb.webp')";>
				<p>{{photo.Title}}</p>
			</div>
		</a>
	</li>
	{% endif %}
	{% endif %}
	{% endfor %}
</ul>


<br>

<h2>Walks</h2>

<ul class="gallery">
	{% for walk in walks %}
	
	{%- assign date_digits = walk.basename | split: "_" | first %}
	{%- assign day   = date_digits | slice: 6, 2 %}
	{%- assign month = date_digits | slice: 4, 2 %}
	{%- assign year  = date_digits | slice: 0, 4 %}
	{%- capture date_string %}{{ year }}-{{ month }}-{{ day }} 00:00:00 +0000 {%- endcapture %}
	
	{% capture walk_time %}{{date_string | date: '%s'}}{% endcapture %}
	{% if walk_time >= post_time %}
	{% if walk_time < next_time or next_time == ""  %}
	<li style="width:100%; height:20em;">
		{% capture gpx_path_walk %}/assets/tracks/walks/{{walk.basename}}.gpx{% endcapture %}
		<a href="/tracks/{{walk.basename}}">
			{% include track_map.html gpx=gpx_path_walk interactive=false waypoints=false id=forloop.index%}
		</a>
		<h4>{{walk.basename}}</h4>
	</li>
	{% endif %}
	{% endif %}
	{% endfor %}
</ul>

<br>
<br>