---
layout: default
---

{{ content }}

{% assign photos =  site.photos %}
{% assign walks =  site.static_files | where: "type", "walk" %}

{% capture post_time %}{{page.date | date: '%s'}}{% endcapture %}
{% capture next_time %}{{page.next.date | date: '%s'}}{% endcapture %}
{% capture prev_time %}{{page.previous.date | date: '%s'}}{% endcapture %}

<a href="/tracks/{{page.title}}">{{page.title}}</a>

{% capture gpx_path %}/assets/tracks/logbook/{{page.gpx_filename}}{% endcapture %}
{% include track_map.html gpx=gpx_path interactive=false waypoints=false %}

<br>

Photos:

<ul>
	{% for photo in photos %}
	{%- assign date_digits = photo.File | split: "_" | first %}
	{%- assign day   = date_digits | slice: 6, 2 %}
	{%- assign month = date_digits | slice: 4, 2 %}
	{%- assign year  = date_digits | slice: 0, 4 %}
	{%- capture date_string %}{{ year }}-{{ month }}-{{ day }} 00:00:00 +1300 {%- endcapture %}
	
	{% capture photo_time %}{{date_string | date: '%s'}}{% endcapture %}
	{% if photo_time >= post_time %}
	{% if photo_time < next_time or next_time == ""  %}
	<li>
		<a href="{{photo.url}}">
			<img src="/assets/photos/thumbs/{{photo.File | split: "." | first %}}-thumb.webp" width="200" />
		</a>
	</li>
	{% endif %}
	{% endif %}
	{% endfor %}
</ul>


<br>

Walks:

<ul>
	{% for walk in walks %}
	
	{%- assign date_digits = walk.basename | split: "_" | first %}
	{%- assign day   = date_digits | slice: 6, 2 %}
	{%- assign month = date_digits | slice: 4, 2 %}
	{%- assign year  = date_digits | slice: 0, 4 %}
	{%- capture date_string %}{{ year }}-{{ month }}-{{ day }} 00:00:00 +0000 {%- endcapture %}
	
	{% capture walk_time %}{{date_string | date: '%s'}}{% endcapture %}
	{% if walk_time >= post_time %}
	{% if walk_time < next_time or next_time == ""  %}
	<li>
		<a href="/tracks/{{walk.basename}}">{{walk.basename}}</a>
	</li>
	{% endif %}
	{% endif %}
	{% endfor %}
</ul>

<a id="navPrev" href="{{page.previous.url}}">Previous</a>
<a id="navNext" href="{{page.next.url}}">Next</a>