---
layout: default
---

<link href='/assets/modules/maplibre-gl.css' rel='stylesheet' />
<script src='/assets/modules/maplibre-gl.js'></script>
<script src="/assets/modules/chart.umd.min.js"></script>

<style>

	#map  {
		display: block;
		background: #000;
		height: 26em;
		width: 100%;
	}

</style>

<div class="navigation">
	{%- assign date_digits = page.File | split: "_" | first %}
	{%- assign day   = date_digits | slice: 6, 2 %}
	{%- assign month = date_digits | slice: 4, 2 %}
	{%- assign year  = date_digits | slice: 0, 4 %}
	{%- capture date_string %}{{ year }}-{{ month }}-{{ day }} 00:00:00 +1300 {%- endcapture %}
	{% capture photo_time %}{{date_string | date: '%s'}}{% endcapture %}
	{% for post in site.posts %}
	{% capture post_time %}{{post.date | date: '%s'}}{% endcapture %}
	{% capture next_time %}{{post.next.date | date: '%s'}}{% endcapture %}
	{% capture prev_time %}{{post.previous.date | date: '%s'}}{% endcapture %}
	{% if photo_time >= post_time %}
	{% if photo_time < next_time or next_time == ""  %}
	<a href="{{post.url}}">{{post.title}}</a>
	{% endif %}
	{% endif %}
	{% endfor %}
	|
	{% for photo in site.photos %}
    {% if photo.title == page.title %}
    {% assign next = site.photos[forloop.index] %}
	<a id="navPrev" class="{% if forloop.first %}disabled{% endif %}" href="{{prev.url}}">Previous</a>
    · 
	<a id="navNext" class="{% if forloop.last %}disabled{% endif %}" href="{{next.url}}">Next</a>
    {% endif %}
    {% assign prev = photo %}
	{% endfor %}
</div>

<h1>{{page.Title}}</h1>



<div class="column2">
	<img class="img-details" alt="page.Title" src="/assets/photos/{{page.File}}"/>
	
	<div class="metadata">
		<p><b>File:</b> {{page.File}}</p>
		<p><b>Title:</b> {{page.Title}}</p>
		<p><b>File Size:</b> {{page.FileSize}}</p>
		<p><b>Software:</b> {{page.Software}}</p>
		<p><b>Image Size:</b> {{page.ImageWidth}}x{{page.ImageHeight}}</p>
		<p><b>Make + Model:</b> {{page.Make}} {{page.Model}}</p>
		<p><b>Lens Info:</b> {{page.LensInfo}}</p>
		<p><b>Exposure Time:</b> {{page.ExposureTime}}</p>
		<p><b>ISO:</b> {{page.ISO}}</p>
		<p><b>Exposure Compensation:</b> {{page.ExposureCompensation}}</p>
		<p><b>Flash:</b> {{page.Flash}}</p>
		<p><b>Date Time Original:</b> {{page.DateTimeOriginal}}</p>
		{% if page.GPSAltitude %}
		<p><b>GPS Altitude:</b> {{page.GPSAltitude}}</p>
		<p><b>GPS Coordinates:</b> {{page.GPSLatitude}}{{page.GPSLatitudeRef}}, {{page.GPSLongitude}}{{page.GPSLongitudeRef}}</p>
		<div id="map"></div>
		{% endif %}
	</div>
</div>

<script>
    const center = [{{page.GPSLongitude}}, {{page.GPSLatitude}}   ];
    console.log(center);
    
    var map = new maplibregl.Map({
        container: 'map', // container id
        style: '/assets/data/topographic.json', // style URL
        center: center, // starting position [lng, lat]
        zoom: 15,
        interactive: true,
		attributionControl: false
    });
    
    const marker = new maplibregl.Marker().setLngLat(center).addTo(map);
</script>