---
layout: default
---

<div class="navigation">
{% assign tracks = site.static_files | where: "extname", ".gpx" %}
{% for track in tracks %}
   {% if track.path == page.gpx_path %}
   {% assign next = tracks[forloop.index] %}
   <a id="navPrev" class="{% if forloop.first %}disabled{% endif %}" href="{{prev.basename}}">Previous</a>
   · 
   <a id="navNext" class="{% if forloop.last %}disabled{% endif %}" href="{{next.basename}}">Next</a>
   {% endif %} 
   {% assign prev = track %}
{% endfor %}

<!-- backlink to logbook post -->
{% for post in site.posts %}
   {% capture post_time %}{{post.date | date: '%s'}}{% endcapture %}
   {% capture next_time %}{{post.next.date | date: '%s'}}{% endcapture %}
   {% capture prev_time %}{{post.previous.date | date: '%s'}}{% endcapture %}
   {%- assign date_digits = page.title | split: "_" | first %}
   {%- assign day   = date_digits | slice: 6, 2 %}
   {%- assign month = date_digits | slice: 4, 2 %}
   {%- assign year  = date_digits | slice: 0, 4 %}
   {%- capture date_string %}{{ year }}-{{ month }}-{{ day }} 00:00:00 +0000 {%- endcapture %}
   {% capture walk_time %}{{date_string | date: '%s'}}{% endcapture %}
   {% if walk_time >= post_time %}
   {% if walk_time < next_time or next_time == ""  %}
   <div><a href="{{post.url}}">{{post.title}}</a></div>
   {% endif %}
   {% endif %}
{% endfor %}

</div>

<h1>{{page.title}}</h1>

{% include track_stats.html gpx=page.gpx_path %}
<div style="width: 100%; height:30em;">
   {% include track_map.html gpx=page.gpx_path interactive=true waypoints=true id="map" %}
</div>
